/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. 
 */

params {

	input				= "data/fastq_pass/"
	output				= "out/reference_based_polishing_context"
	reference			= "data/ref/sarscov2_spike.fasta"
	reference_fai			= "data/ref/sarscov2_spike.fasta.fai"
	bed				= "data/ref/sarscov2_spike.bed"

	chunk_size			= 500000
	min_qscore			= 10
	vsearch_sequence_identity	= 0.95
	clusters_per_polishing_file	= 300
	use_gpu				= true
	reference_based_polishing	= true
	min_overlap			= 0.9
	include_secondary_reads		= false
	balance_strands			= false
	medaka_model			= "r1041_e82_260bps_sup_g632"
	adapter_length			= 150
	umi_errors			= 3
	fwd_umi				= "NNNYRNNNYRNNNYRNNN"
	rev_umi				= "NNNYRNNNYRNNNYRNNN"
	fwd_context			= "TTGCGTTCCTAGCGCCTATATTTGT"
	rev_context			= "ATCAGTCGTCATCAGCAGTCCCAC"
	min_length			= 10
	max_length			= 80
	live				= false
	min_reads_per_cluster		= 6
	max_reads_per_cluster		= 20
	min_reads_per_barcode		= 0
	min_read_length			= 5500
	call_variants			= true
	adapter_length			= 200
	variant_caller			= "freebayes"
}

// NEXTFLOW REPORTING
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
		overwrite = true
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
		overwrite = true
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
		overwrite = true
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
		overwrite = true
	}
}
