/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. 
 */

params {

	input				= "data/chunked/fastq_pass"
	output				= "out/zymo/context"
	reference			= "ref/operon_sequences.fasta"
	reference_fai			= "ref/operon_sequences.fasta.fai"
	bed				= "ref/operon_sequences.bed"

	chunk_size			= 50000
	min_qscore			= 8
	vsearch_sequence_identity	= 0.8
	clusters_per_polishing_file	= 300
	use_gpu				= true
	reference_based_polishing	= true
	min_overlap			= 0.8
	include_secondary_reads		= false
	balance_strands			= false
	medaka_model			= "r10_min_high_g340"
	fwd_umi				= "NNNYRNNNYRNNNYRNNN"
	rev_umi				= "NNNYRNNNYRNNNYRNNN"
	fwd_context			= "CAAGCAGAAGACGGCATACGAGAT"
	rev_context			= "GATCTCGGTGGTCGCCGTATCATT"
	live				= false
	min_reads_per_cluster		= 6
	max_reads_per_cluster		= 20
	min_reads_per_barcode		= 0
	min_length			= 10
	max_length			= 80
	min_read_length			= 2000
	call_variants			= true
	adapter_length			= 200
	variant_caller			= "freebayes"
}

// NEXTFLOW REPORTING
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
		overwrite = true
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
		overwrite = true
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
		overwrite = true
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
		overwrite = true
	}
}
