/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. 
 */

params {

	input			= "data/fastq/minimal"
	output			= "umi-pipeline-nf/out"
	reference		= "data/ref/lpa-ref2645.fasta"
	reference_fai		= "data/ref/lpa-ref2645.fasta.fai"
	bed			= "data/ref/lpa-ref2645.bed"

	live			= false
	min_reads_per_cluster	= 6
	max_reads_per_cluster	= 20
	min_reads_per_barcode	= 0
	min_read_length		= 2000
	call_variants		= true
	adapter_length		= 200
	variant_caller		= "freebayes"
}

// NEXTFLOW REPORTING
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
		overwrite = true
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
		overwrite = true
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
		overwrite = true
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
		overwrite = true
	}
}
